* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Ubuntu";
  color: white;
  --mainBackgroundColor: rgba(205, 33, 34, 0.7);
}

body {
  background-color: black;
  /* background-image: linear-gradient(45deg, black 20%, rgb(34, 31, 31)); */
}

.wrapper {
  overflow: hidden;
}

main {
  min-height: 100vh;
  border-top: 1px solid white;
}

.icon {
  position: absolute;
  width: 150px;
  animation: iconSlide 1s 2s linear 1 both;
}

@keyframes iconSlide {
  from {
    left: -150px;
  }
  to {
    left: calc(100% + 150px);
  }
}
