.ranking {
  margin: 20px auto;
  width: 70%;
}
.upBar,
.ranking li {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.upBar span,
.ranking li span {
  display: block;
  flex-basis: 20%;
}
.ranking ul {
  list-style-type: none;
}
.ranking li {
  border-bottom: 1px solid white;
  padding: 20px;
}
