.ranking {
  margin: 20px auto;
  width: 70%;
  background-color: black;
  padding: 20px 0;
}
.upBar,
.ranking ul li {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.upBar {
  border-bottom: 1px solid var(--mainBackgroundColor);
  padding-bottom: 10px;
}
.upBar span,
.ranking ul li span {
  flex-basis: 25%;
}

.ranking ul {
  list-style-type: none;
}
.ranking li {
  border-bottom: 1px solid white;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 780px) {
  .upBar span,
  .ranking ul li span {
    font-size: 14px;
  }
}
@media (max-width: 680px) {
  .upBar span,
  .ranking ul li span {
    font-size: 13px;
  }
}
@media (max-width: 500px) {
  .upBar span,
  .ranking ul li span {
    font-size: 12px;
  }
}
@media (max-width: 430px) {
  .upBar span,
  .ranking ul li span {
    font-size: 10px;
  }
}
