.teamSelect {
  /* background-color: rgb(39, 28, 28); */
  padding: 5px 0;
  background-color: rgb(124, 7, 7);
  text-align: center;
  color: white;
  margin: 10px auto 0;
  text-transform: uppercase;
}

.teamSelect label {
  padding-right: 10px;
  font-size: 14px;
}

.teamSelect select {
  box-sizing: border-box;
  height: 40px;
  outline: 2px solid transparent;
  transition: 0.3s;
  border: none;
  font-size: 16px;
  padding: 5px 10px;
}

.teamSelect select:focus-visible {
  outline: 2px solid red;
}
