.rider {
  position: relative;
  height: 200px;
  width: 65%;
  margin: 10px auto 0;
  overflow: hidden;
  padding: 20px 30px;
  padding-left: 5%;
  color: rgb(241, 214, 214);
  background-color: whitesmoke;
  background-image: linear-gradient(237deg, black 40%, rgb(124, 7, 7));
}

.rider h1 {
  font-size: 40px;
}

.riderPhoto {
  position: absolute;
  top: 0;
  right: -130px;
}

img.riderImage {
  width: 500px;
}

.riderDescription {
  position: relative;
}

.rider a,
.rider p {
  position: absolute;
  text-decoration: none;
  color: white;
  z-index: 2;
  transform: translateX(0);
}

.rider a:first-child {
  top: 0;
  left: 0;
}
.rider p {
  font-size: 20px;
  font-weight: 700;
  top: 50px;
  left: 0;
}
.rider a:hover {
  text-decoration: underline;
  transform: translateX(5px);
}

@media (max-width: 780px) {
  .riderPhoto {
    top: 25px;
  }
  img.riderImage {
    width: 450px;
  }
  .rider h1 {
    font-size: 35px;
  }
  .rider p {
    font-size: 17px;
  }
}

@media (max-width: 680px) {
  .rider h1 {
    font-size: 35px;
    width: 50%;
  }

  .riderPhoto {
    right: -113px;
  }
  .rider p {
    font-size: 17px;
    max-width: 90%;
    top: 92px;
    left: 0;
  }
}
@media (max-width: 500px) {
  .rider h1 {
    font-size: 25px;
    width: 40%;
  }

  img.riderImage {
    width: 400px;
  }
  .rider p {
    font-size: 15px;
    top: 68px;
    left: 0;
  }
}
@media (max-width: 430px) {
  .riderPhoto {
    right: -100px;
  }
  .rider h1 {
    font-size: 22px;
    width: 40%;
  }

  img.riderImage {
    width: 340px;
  }
  .rider p {
    top: 60px;
    left: 0;
    font-size: 12px;
  }
}
